h4 {
    font-size: 20px;
}

.today {
    background-color: rgb(160, 196, 125);
}

.nextDay {
    background-color: rgb(153, 210, 251);
}

.hide {
    display: none;
}

header {
    background-image: linear-gradient(to right, rgb(143, 121, 210), rgba(247, 167, 233, 0.344));
}

#searchContainer {
    background-image: linear-gradient(to bottom right, rgb(143, 121, 210), rgba(247, 167, 233, 0.344));
}