h4 {
    font-size: 20px;
}

.today {
    background-image: linear-gradient(to right, rgb(134, 201, 126), rgba(137, 252, 88, 0.395));
}

.nextDay {
    background-color: rgb(153, 210, 251);
}

.hide {
    display: none;
}

header {
    background-image: linear-gradient(to right, rgb(143, 121, 210), rgba(247, 167, 232, 0.395));
}

#searchContainer {
    background-image: linear-gradient(to bottom right, rgb(143, 121, 210), rgba(247, 167, 232, 0.395));
}